<div class="form">
<div id="message_status"></div>
<%= form_for @message, :url => bigos_contact_box.messages_path do |form| %>
    <fieldset class="fields">
      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      <div class="field">
        <%= form.label :subject %>
        <%= form.text_field :subject %>
      </div>

      <div class="field">
        <%= form.label :body %>
        <%= form.text_area :body %>
      </div>
    </fieldset>

    <fieldset class="actions">
      <%= form.submit "Send", id: "bigos_contact_form_submit" %>
    </fieldset>
<% end %>
</div>
<%= hidden_field_tag :invalid_fields_error,  BigosContactBox::Setting["#{BigosContactBox.name}.invalid_fields_error"] %>